.zerone-up-widget-container > .btn {
    margin-top: 8px;
}

.zerone-up-widget-container > input[type="file"] {
    display: none;
}

.zerone-up-widget-container > .zerone-up-select-image-btn {
    display: none;
}

.zerone-up-widget-container > .zerone-up-remove-image-btn {
    display: block;
}

.zerone-up-widget-container.empty > .zerone-up-select-image-btn {
    display: block;
}

.zerone-up-widget-container.empty > .zerone-up-remove-image-btn {
    display: none;
}
