.zerone-widget-container .btn-image {
    margin: 10px auto auto;
}

.zerone-widget-container .select-image-btn {
    display: none;
}

.zerone-widget-container .remove-image-btn {
    display: block;
}

.zerone-widget-container.empty .select-image-btn {
    display: block;
}

.zerone-widget-container.empty .remove-image-btn {
    display: none;
}
